In [98]:
import requests
import json
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import scipy.stats as sts
#from NYT_data_collect import saveFilePath

In [121]:
def getCounty(area_name):
    sub_str = area_name.split(", ")
    if len(sub_str) > 1:
        return sub_str[0].replace(" County","")
    else:
        return "not_county"
def getYear(column_name):
    sub_str = column_name.split("_ ")
    if len(sub_str) > 1:
        return sub_str[len(sub_str)-1]
    else:
        return "no_year"

In [109]:
file_path = '../../Resources/NYT_counties_data.csv'
NYT_df = pd.read_csv(file_path)
file_path = '../../Resources/UnemploymentUSA.csv'
unemployment_df = pd.read_csv(file_path)
deathSumCounty_df = NYT_df.groupby("county").sum()
county_death_df = pd.read_csv("../../Resources/FINAL_illinois_COVID/county_death_data.csv")
county_confirmed_df = pd.read_csv("../../Resources/FINAL_illinois_COVID/FINAL_illinois_COVID_county.csv")

In [111]:
del county_death_df["total_tested_4_14_2020"]
county_death_df.head()

   Unnamed: 0     county  confirmed_cases_4_14_2020  deaths_4_14_2020
0           0    Chicago                       9616               328
1           1      Adams                         27                 0
2           2  Alexander                          0                 0
3           3       Bond                          4                 0
4           4      Boone                         13                 1

In [125]:
unemployment_df["county"] = unemployment_df["Area_name"].map(getCounty)
unemployment_df = unemployment_df.loc[unemployment_df["State"] == "IL"]
unemployment_df.dropna(inplace = True)
#unemployment_df["County_name"].head()
for (columnName, columnData) in unemployment_df.iteritems():
    year = getYear(columnName)
    if year == "no_year":
        continue
    elif float(year) < 2018:
        del unemployment_df[columnName]
unemployment_df.head()

,FIPS,State,Area_name,Rural_urban_continuum_code_2013,Urban_influence_code_2013,Metro_2013,Civilian_labor_force_2007,Employed_2007,Unemployed_2007,Unemployment_rate_2007,...,Employed_2017,Unemployed_2017,Unemployment_rate_2017,Civilian_labor_force_2018,Employed_2018,Unemployed_2018,Unemployment_rate_2018,Median_Household_Income_2018,Med_HH_Income_Percent_of_State_Total_2018,county
612,17001,IL,"Adams County, IL",5.0,8.0,0.0,"39,619","38,088","1,531",3.9,...,31112,1274,3.9,"32,893","31,616","1,277",3.9,"$55,174",84.8,Adams
613,17003,IL,"Alexander County, IL",3.0,2.0,1.0,"3,279","3,011",268,8.2,...,1953,178,8.4,"2,153","1,982",171,7.9,"$35,249",54.2,Alexander
614,17005,IL,"Bond County, IL",1.0,1.0,1.0,"8,771","8,320",451,5.1,...,7565,354,4.5,"7,929","7,582",347,4.4,"$54,800",84.2,Bond
615,17007,IL,"Boone County, IL",2.0,2.0,1.0,"26,764","25,014","1,750",6.5,...,24448,1772,6.8,"26,473","24,950","1,523",5.8,"$74,507",114.5,Boone
616,17009,IL,"Brown County, IL",7.0,10.0,0.0,"3,479","3,384",95,2.7,...,2777,82,2.9,"2,896","2,818",78,2.7,"$55,327",85.0,Brown

In [102]:
county_total = pd.merge(county_death_df,county_confirmed_df,on="county",suffixes=("",""),how="inner")
county_total = county_total.drop(columns = ["Unnamed: 0"])
county_total = pd.merge(county_total, deathSumCounty_df, on = "county",  suffixes = ("",""), how = "left")
county_total = county_total.drop(columns = ["Unnamed: 0"])
unemployment_df.drop_duplicates("county", inplace=True)
county_total = pd.merge(county_total,unemployment_df,on="county",suffixes=("",""),how="left")

#unemployment_df["county"].value_counts
#county_total.head()
county_total.head()

,county,confirmed_cases_4_14_2020,total_tested_4_14_2020,deaths_4_14_2020,<20,20-29,30-39,40-49,50-59,60-69,...,Civilian_labor_force_2017,Employed_2017,Unemployed_2017,Unemployment_rate_2017,Civilian_labor_force_2018,Employed_2018,Unemployed_2018,Unemployment_rate_2018,Median_Household_Income_2018,Med_HH_Income_Percent_of_State_Total_2018
0,Adams,27,0,0,0,0,0,0,6,0,...,32386,31112,1274,3.9,"32,893","31,616","1,277",3.9,"$55,174",84.8
1,Boone,13,0,1,0,0,0,0,0,0,...,26220,24448,1772,6.8,"26,473","24,950","1,523",5.8,"$74,507",114.5
2,Champaign,88,0,2,0,6,0,0,8,6,...,105320,100698,4622,4.4,"105,669","101,016","4,653",4.4,"$53,251",81.8
3,Christian,24,0,3,0,0,0,0,0,0,...,14865,14072,793,5.3,"14,837","14,052",785,5.3,"$52,936",81.4
4,Clinton,38,0,0,0,0,0,0,0,0,...,20302,19572,730,3.6,"20,378","19,650",728,3.6,"$66,597",102.4

In [107]:
county_total

,county,confirmed_cases_4_14_2020,total_tested_4_14_2020,deaths_4_14_2020,<20,20-29,30-39,40-49,50-59,60-69,...,Civilian_labor_force_2017,Employed_2017,Unemployed_2017,Unemployment_rate_2017,Civilian_labor_force_2018,Employed_2018,Unemployed_2018,Unemployment_rate_2018,Median_Household_Income_2018,Med_HH_Income_Percent_of_State_Total_2018
0,Adams,27,0,0,0,0,0,0,6,0,...,32386,31112,1274,3.9,"32,893","31,616","1,277",3.9,"$55,174",84.8
1,Boone,13,0,1,0,0,0,0,0,0,...,26220,24448,1772,6.8,"26,473","24,950","1,523",5.8,"$74,507",114.5
2,Champaign,88,0,2,0,6,0,0,8,6,...,105320,100698,4622,4.4,"105,669","101,016","4,653",4.4,"$53,251",81.8
3,Christian,24,0,3,0,0,0,0,0,0,...,14865,14072,793,5.3,"14,837","14,052",785,5.3,"$52,936",81.4
4,Clinton,38,0,0,0,0,0,0,0,0,...,20302,19572,730,3.6,"20,378","19,650",728,3.6,"$66,597",102.4
5,Cook,6707,0,249,138,1779,2434,2804,3095,2396,...,2638715,2505427,133288,5.1,"2,611,512","2,506,103","105,409",4.0,"$63,347",97.4
6,DeKalb,35,0,1,0,0,0,0,0,0,...,54771,52203,2568,4.7,"55,487","53,047","2,440",4.4,"$63,274",97.3
7,Douglas,11,0,0,0,0,0,0,0,0,...,10203,9778,425,4.2,"10,212","9,793",419,4.1,"$56,976",87.6
8,DuPage,1312,0,61,0,102,146,177,180,183,...,512749,492603,20146,3.9,"508,650","492,726","15,924",3.1,"$93,540",143.8
9,Fayette,12,0,1,0,0,0,0,0,0,...,9681,9141,540,5.6,"9,810","9,291",519,5.3,"$47,484",73.0
10,Grundy,24,0,0,0,0,0,0,0,0,...,25552,24089,1463,5.7,"25,255","24,072","1,183",4.7,"$79,348",122.0
11,Henry,23,0,0,0,0,0,0,0,0,...,24989,23697,1292,5.2,"25,083","23,824","1,259",5.0,"$58,042",89.2
12,Jackson,35,0,3,0,12,0,0,0,0,...,28067,26791,1276,4.5,"28,137","26,847","1,290",4.6,"$41,445",63.7
13,Kane,448,0,24,0,38,34,51,67,41,...,269228,256036,13192,4.9,"273,901","260,449","13,452",4.9,"$79,834",122.7
14,Kankakee,220,0,10,0,15,26,29,35,23,...,55407,52370,3037,5.5,"55,920","52,888","3,032",5.4,"$53,884",82.8
15,Kendall,114,0,2,0,0,6,7,19,0,...,68229,65288,2941,4.3,"67,661","65,281","2,380",3.5,"$93,345",143.5
16,Lake,1621,0,58,25,189,165,252,306,178,...,373250,356243,17007,4.6,"378,401","361,302","17,099",4.5,"$87,336",134.2
17,LaSalle,23,0,1,0,0,0,6,0,0,...,56192,53008,3184,5.7,"56,230","52,968","3,262",5.8,"$54,063",83.1
18,Lee,13,0,0,0,0,0,0,0,0,...,17818,17032,786,4.4,"17,831","17,043",788,4.4,"$54,915",84.4
19,Livingston,17,0,0,0,0,0,0,0,0,...,16655,15901,754,4.5,"16,610","15,876",734,4.4,"$59,323",91.2
20,McHenry,257,0,8,0,0,19,22,35,31,...,167398,160094,7304,4.4,"165,849","160,050","5,799",3.5,"$86,268",132.6
21,McLean,81,0,2,0,0,0,0,0,9,...,88828,85099,3729,4.2,"87,889","84,209","3,680",4.2,"$67,087",103.1
22,Macon,45,0,1,0,0,0,0,0,0,...,49432,46649,2783,5.6,"49,961","47,166","2,795",5.6,"$50,684",77.9
23,Madison,128,0,2,0,0,0,12,7,0,...,134084,127652,6432,4.8,"134,575","128,495","6,080",4.5,"$60,121",92.4
24,Marion,14,0,0,0,0,0,9,7,7,...,17684,16746,938,5.3,"17,778","16,899",879,4.9,"$46,096",70.8
25,Monroe,47,0,3,0,0,0,0,8,8,...,18473,17844,629,3.4,"18,595","17,951",644,3.5,"$88,481",136.0
26,Morgan,11,0,1,0,0,0,0,0,0,...,16502,15773,729,4.4,"16,309","15,590",719,4.4,"$48,976",75.3
27,Ogle,26,0,0,0,0,0,0,0,0,...,25409,24094,1315,5.2,"25,289","24,014","1,275",5.0,"$61,794",95.0
28,Peoria,31,0,1,0,0,0,0,6,0,...,86304,81187,5117,5.9,"87,398","82,552","4,846",5.5,"$56,478",86.8
29,Randolph,41,0,0,0,0,6,6,0,0,...,14183,13549,634,4.5,"14,202","13,572",630,4.4,"$53,607",82.4
30,Rock Island,113,0,3,0,0,14,7,24,6,...,71211,67525,3686,5.2,"71,847","68,090","3,757",5.2,"$52,642",80.9
31,St. Clair,220,0,8,0,0,0,7,10,12,...,126389,119949,6440,5.1,"127,192","120,769","6,423",5.0,"$58,222",89.5
32,Sangamon,50,0,3,0,0,0,0,0,0,...,104742,100193,4549,4.3,"104,949","100,443","4,506",4.3,"$62,242",95.7
33,Stephenson,9,0,0,0,0,0,0,0,0,...,21662,20636,1026,4.7,"21,904","20,863","1,041",4.8,"$47,357",72.8
34,Tazewell,21,0,3,0,0,0,0,0,0,...,64728,61229,3499,5.4,"65,386","62,196","3,190",4.9,"$61,508",94.5
35,Whiteside,30,0,2,0,0,0,0,0,0,...,28192,26818,1374,4.9,"28,466","27,164","1,302",4.6,"$57,197",87.9
36,Will,1350,0,77,0,78,169,291,277,155,...,360745,342750,17995,5.0,"357,226","342,785","14,441",4.0,"$86,108",132.3
37,Williamson,10,0,0,0,0,0,0,0,0,...,31816,30155,1661,5.2,"31,873","30,236","1,637",5.1,"$46,187",71.0
38,Winnebago,101,0,4,0,0,0,0,6,0,...,139335,130272,9063,6.5,"141,196","133,101","8,095",5.7,"$53,795",82.7

In [120]:

for (columnName, columnData) in county_total.iteritems():
    del_or_numeric = input(f"delete (del) or numeric (num) or nothing (n) {columnName}: ")
    while del_or_numeric == "del" or "num" or "nothing":
        if del_or_numeric == "del":
            del county_total[columnName]
            break
        elif del_or_numeric == "num":
            county_total[columnName] = pd.to_numeric(county_total[columnName])
            break
        elif del_or_numeric == "n":
            break
        else:
            del_or_numeric = input(f"delete (del) or numeric (num) or nothing (n) {columnName}: ")
        
county_total

delete (del) or numeric (num) or nothing (n) county: n
delete (del) or numeric (num) or nothing (n) confirmed_cases_4_14_2020: num
delete (del) or numeric (num) or nothing (n) total_tested_4_14_2020: del
delete (del) or numeric (num) or nothing (n) deaths_4_14_2020: num
delete (del) or numeric (num) or nothing (n) <20: num
delete (del) or numeric (num) or nothing (n) 20-29: num
delete (del) or numeric (num) or nothing (n) 30-39: num
delete (del) or numeric (num) or nothing (n) 40-49: num
delete (del) or numeric (num) or nothing (n) 50-59: num
delete (del) or numeric (num) or nothing (n) 60-69: num
delete (del) or numeric (num) or nothing (n) 70-79: num
delete (del) or numeric (num) or nothing (n) 80+: num
delete (del) or numeric (num) or nothing (n) White: num
delete (del) or numeric (num) or nothing (n) Black: f
delete (del) or numeric (num) or nothing (n) Black: num
delete (del) or numeric (num) or nothing (n) Left Blank: num
delete (del) or numeric (num) or nothing (n) Other: num
delete (del) or numeric (num) or nothing (n) Asian: num
delete (del) or numeric (num) or nothing (n) Hispanic: num
delete (del) or numeric (num) or nothing (n) NH/PI*: num
delete (del) or numeric (num) or nothing (n) AI/AN**: num
delete (del) or numeric (num) or nothing (n) Male: num
delete (del) or numeric (num) or nothing (n) Female: num
delete (del) or numeric (num) or nothing (n) Unknown/Left Blank: num
delete (del) or numeric (num) or nothing (n) fips: del
delete (del) or numeric (num) or nothing (n) cases: del
delete (del) or numeric (num) or nothing (n) deaths: num
delete (del) or numeric (num) or nothing (n) FIPS: del
delete (del) or numeric (num) or nothing (n) State: del
delete (del) or numeric (num) or nothing (n) Area_name: del
delete (del) or numeric (num) or nothing (n) Rural_urban_continuum_code_2013: del
delete (del) or numeric (num) or nothing (n) Urban_influence_code_2013: del
delete (del) or numeric (num) or nothing (n) Metro_2013: del
delete (del) or numeric (num) or nothing (n)  Civilian_labor_force_2007 : del
delete (del) or numeric (num) or nothing (n)  Employed_2007 : del
delete (del) or numeric (num) or nothing (n)  Unemployed_2007 : del
delete (del) or numeric (num) or nothing (n) Unemployment_rate_2007: del
delete (del) or numeric (num) or nothing (n)  Civilian_labor_force_2008 : del
delete (del) or numeric (num) or nothing (n)  Employed_2008 : del
delete (del) or numeric (num) or nothing (n)  Unemployed_2008 : del
delete (del) or numeric (num) or nothing (n) Unemployment_rate_2008: del
delete (del) or numeric (num) or nothing (n) Civilian_labor_force_2009: del
delete (del) or numeric (num) or nothing (n) Employed_2009: del
delete (del) or numeric (num) or nothing (n) Unemployed_2009: del
delete (del) or numeric (num) or nothing (n) Unemployment_rate_2009: del
delete (del) or numeric (num) or nothing (n)  Civilian_labor_force_2010 : del
delete (del) or numeric (num) or nothing (n)  Employed_2010 : del
delete (del) or numeric (num) or nothing (n)  Unemployed_2010 : del
delete (del) or numeric (num) or nothing (n) Unemployment_rate_2010: del
delete (del) or numeric (num) or nothing (n)  Civilian_labor_force_2011 : del
delete (del) or numeric (num) or nothing (n)  Employed_2011 : del
delete (del) or numeric (num) or nothing (n)  Unemployed_2011 : del
delete (del) or numeric (num) or nothing (n) Unemployment_rate_2011: del
delete (del) or numeric (num) or nothing (n)  Civilian_labor_force_2012 : del
delete (del) or numeric (num) or nothing (n)  Employed_2012 : del
delete (del) or numeric (num) or nothing (n)  Unemployed_2012 : del
delete (del) or numeric (num) or nothing (n) Unemployment_rate_2012: del
delete (del) or numeric (num) or nothing (n)  Civilian_labor_force_2013 : del
delete (del) or numeric (num) or nothing (n)  Employed_2013 : del
delete (del) or numeric (num) or nothing (n)  Unemployed_2013 : del
delete (del) or numeric (num) or nothing (n) Unemployment_rate_2013: del
delete (del) or numeric (num) or nothing (n)  Civilian_labor_force_2014 : del
delete (del) or numeric (num) or nothing (n)  Employed_2014 : del
delete (del) or numeric (num) or nothing (n)  Unemployed_2014 : del
delete (del) or numeric (num) or nothing (n) Unemployment_rate_2014: del
delete (del) or numeric (num) or nothing (n)  Civilian_labor_force_2015 : del
delete (del) or numeric (num) or nothing (n)  Employed_2015 : del
delete (del) or numeric (num) or nothing (n)  Unemployed_2015 : del
delete (del) or numeric (num) or nothing (n) Unemployment_rate_2015: del
delete (del) or numeric (num) or nothing (n)  Civilian_labor_force_2016 : del
delete (del) or numeric (num) or nothing (n)  Employed_2016 : del
delete (del) or numeric (num) or nothing (n)  Unemployed_2016 : del
delete (del) or numeric (num) or nothing (n) Unemployment_rate_2016: del
delete (del) or numeric (num) or nothing (n) Civilian_labor_force_2017: del
delete (del) or numeric (num) or nothing (n) Employed_2017: del
delete (del) or numeric (num) or nothing (n) Unemployed_2017: del
delete (del) or numeric (num) or nothing (n) Unemployment_rate_2017: del
delete (del) or numeric (num) or nothing (n) Civilian_labor_force_2018: num

ValueError: Unable to parse string "32,893" at position 0

In [77]:
county_total.corr()

,confirmed_cases_4_14_2020,total_tested_4_14_2020,deaths_4_14_2020,<20,20-29,30-39,40-49,50-59,60-69,70-79,...,Unemployment_rate_2010,Unemployment_rate_2011,Unemployment_rate_2012,Unemployment_rate_2013,Unemployment_rate_2014,Unemployment_rate_2015,Unemployment_rate_2016,Unemployment_rate_2017,Unemployment_rate_2018,Med_HH_Income_Percent_of_State_Total_2018
confirmed_cases_4_14_2020,1.000000,NaN,0.993309,0.963341,0.973406,0.971723,0.978578,0.978017,0.974032,0.967892,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
total_tested_4_14_2020,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
deaths_4_14_2020,0.993309,NaN,1.000000,0.930401,0.948482,0.949655,0.959648,0.957333,0.952085,0.944174,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
<20,0.963341,NaN,0.930401,1.000000,0.994329,0.989110,0.988300,0.990673,0.988988,0.988284,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20-29,0.973406,NaN,0.948482,0.994329,1.000000,0.998791,0.997969,0.998818,0.998927,0.998427,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
30-39,0.971723,NaN,0.949655,0.989110,0.998791,1.000000,0.999178,0.999317,0.999780,0.999516,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
40-49,0.978578,NaN,0.959648,0.988300,0.997969,0.999178,1.000000,0.999790,0.998974,0.997692,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50-59,0.978017,NaN,0.957333,0.990673,0.998818,0.999317,0.999790,1.000000,0.999172,0.997969,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
60-69,0.974032,NaN,0.952085,0.988988,0.998927,0.999780,0.998974,0.999172,1.000000,0.999583,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
70-79,0.967892,NaN,0.944174,0.988284,0.998427,0.999516,0.997692,0.997969,0.999583,1.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
80+,0.977519,NaN,0.956875,0.987540,0.998122,0.998450,0.997920,0.998112,0.999066,0.998420,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
White,0.992550,NaN,0.975823,0.983081,0.992045,0.990730,0.993045,0.993378,0.992503,0.989478,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Black,0.953962,NaN,0.928455,0.986114,0.995236,0.997459,0.995015,0.995244,0.996307,0.997413,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Left Blank,0.979763,NaN,0.963701,0.983707,0.995725,0.998054,0.999461,0.998744,0.997825,0.996197,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Other,0.965988,NaN,0.937598,0.994396,0.999166,0.997841,0.995643,0.996772,0.998030,0.998465,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Asian,0.961431,NaN,0.941073,0.974734,0.991925,0.995434,0.992735,0.992104,0.995896,0.997010,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Hispanic,0.983780,NaN,0.959934,0.993028,0.994480,0.989757,0.990929,0.992623,0.991023,0.988574,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NH/PI*,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
AI/AN**,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Male,0.980104,NaN,0.959973,0.989404,0.998745,0.999203,0.999551,0.999706,0.999478,0.998255,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Female,0.980080,NaN,0.960483,0.988146,0.998378,0.999186,0.999520,0.999526,0.999520,0.998348,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Unknown/Left Blank,0.924626,NaN,0.892712,0.968479,0.969853,0.968509,0.966046,0.967230,0.968308,0.969009,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
fips,-0.135741,NaN,-0.156246,-0.069884,-0.087599,-0.097409,-0.099807,-0.099096,-0.098016,-0.094842,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
cases,0.927772,NaN,0.902660,0.952131,0.954792,0.952450,0.952859,0.953502,0.953571,0.951985,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
deaths,0.916039,NaN,0.896542,0.928922,0.935660,0.934344,0.935874,0.935859,0.935846,0.933493,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
FIPS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Rural_urban_continuum_code_2013,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Urban_influence_code_2013,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Metro_2013,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Unemployment_rate_2007,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Unemployment_rate_2008,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Unemployment_rate_2009,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Unemployment_rate_2010,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Unemployment_rate_2011,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Unemployment_rate_2012,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Unemployment_rate_2013,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Unemployment_rate_2014,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Unemployment_rate_2015,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Unemployment_rate_2016,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Unemployment_rate_2017,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Unemployment_rate_2018,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Med_HH_Income_Percent_of_State_Total_2018,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

KeyError: 'county'

In [31]:
deathSumCounty_df = NYT_df.groupby("county").sum()
county_total = pd.merge(county_total, deathSumCounty_df, on = "county",  suffixes = ("",""), how = "inner")
county_total = pd.merge(county_total,unemployment_df,on="county",suffixes=("",""),how="inner")
deathSumCounty_df.head()

           Unnamed: 0       fips  cases  deaths
county
Abbeville      532635  1035023.0     91       0
Acadia         498654   440020.0    835      25
Accomack       533823  1122022.0    128       0
Ada            524916   464029.0   4777      47
Adair         1742818  1832067.0    373      11

In [32]:
unemployment_df.head()

,FIPS,State,Area_name,Rural_urban_continuum_code_2013,Urban_influence_code_2013,Metro_2013,Civilian_labor_force_2007,Employed_2007,Unemployed_2007,Unemployment_rate_2007,...,Civilian_labor_force_2017,Employed_2017,Unemployed_2017,Unemployment_rate_2017,Civilian_labor_force_2018,Employed_2018,Unemployed_2018,Unemployment_rate_2018,Median_Household_Income_2018,Med_HH_Income_Percent_of_State_Total_2018
0,0,US,United States,NaN,NaN,NaN,"152,191,093","145,156,134","7,034,959",4.6,...,"160,273,906","153,293,830","6,980,076",4.4,"161,640,488","155,344,043","6,296,445",3.9,"$61,937",NaN
1,1000,AL,Alabama,NaN,NaN,NaN,"2,175,612","2,089,127","86,485",4.0,...,2178243,2081676,96567,4.4,"2,198,837","2,112,347","86,490",3.9,"$49,881",100.0
2,1001,AL,"Autauga County, AL",2.0,2.0,1.0,"24,383","23,577",806,3.3,...,25972,24958,1014,3.9,"25,957","25,015",942,3.6,"$59,338",119.0
3,1003,AL,"Baldwin County, AL",3.0,2.0,1.0,"82,659","80,099","2,560",3.1,...,92090,88342,3748,4.1,"93,849","90,456","3,393",3.6,"$57,588",115.5
4,1005,AL,"Barbour County, AL",6.0,6.0,0.0,"10,334","9,684",650,6.3,...,8317,7831,486,5.8,"8,373","7,940",433,5.2,"$34,382",68.9

In [33]:
county_total = pd.merge(county_total, deathSumCounty_df, on = "county",  suffixes = ("",""), how = "inner")
#county_total = pd.merge(unemployment_df,county_total,on="county",suffixes=("",""),how="inner")
county_total.head()

,county,confirmed_cases_4_14_2020,total_tested_4_14_2020,deaths_4_14_2020,<20,20-29,30-39,40-49,50-59,60-69,...,Black,Left Blank,Other,Asian,Hispanic,NH/PI*,AI/AN**,Male,Female,Unknown/Left Blank
0,Adams,27,0,0,0,0,0,0,6,0,...,0,0,0,0,0,0,0,14,0,0
1,Boone,13,0,1,0,0,0,0,0,0,...,0,6,0,0,0,0,0,0,6,0
2,Champaign,88,0,2,0,6,0,0,8,6,...,0,0,0,0,0,0,0,15,35,0
3,Christian,24,0,3,0,0,0,0,0,0,...,0,0,0,0,0,0,0,6,15,0
4,Clinton,38,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [ ]:
def getCounty(area_name):
    sub_str = area_name.split(", ")
    if len(sub_str) > 1:
        return sub_str[0].replace(" County","")
    else:
        return "not_county"

In [ ]:
unemployment_df["county"] = unemployment_df["Area_name"].map(getCounty)
unemployment_df.dropna(inplace = True)
#unemployment_df["County_name"].head()
unemployment_df.head(1)

In [ ]:
NYT_df.county.value_counts()

In [ ]:
merged_df = pd.merge(deathSumCounty_df,unemployment_df,on="county")
merged_df.head()

In [ ]:
sample_df = merged_df.sample(100)

In [ ]:
plt.scatter(x=sample_df["Unemployed_2018"],y=sample_df["deaths"])